<% if @user %>
  <% if @user.profile_photo.url %>
    <%= image_tag @user.profile_photo.url, class:"profile-photo" %>
  <% end %>
<% end %>
<div>
  <h1 class="username"> <%= "#{@user.email[/[^@]+/].capitalize}'s Profile" %> </h1>
</div>
<div id="app"></div>
