<div id="landing-page">
  <div class="">
    <h1 class="logo">firstClass</h1>
    <h5 class="sub-header">Airport reviews for the frequent flyer.</h5>
  </div>

  <div class="cell">
    <%= link_to "Get Started", airports_path, class: "red-button button" %>
    <%= link_to 'Member Login', new_user_session_path, class: "secondary button" %>
  </div>
  <div class="profile-photo">
    <% if @user %>
      <% if @user.profile_photo.url %>
        <%= image_tag @user.profile_photo.url %>
      <% end %>
    <% end %>

  </div>
</div>
