<div id="landing-page">
  <div class="hero-logo">
    <div class="logo-container">
      <h1 class="logo">firstClass</h1>
      <h5 class="sub-header">First Class Travel Starts Here</h5>
    </div>

    <div class="cell">
      <%= link_to "Get Started", airports_path, class: "red-button button" %>
      <%= link_to 'Member Login', new_user_session_path, class: "secondary button" %>
    </div>
  </div>
</div>
