#reviews {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.airport-show-reviews-header {
  font-family: 'Roboto', sans-serif;
  background-color: #963742;
  color: white;
  padding: 3px 30px 3px 30px;
  font-size: 2em;
  margin-right: 20px;
  margin-top: 50px;
}
