.new-airport-review-form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
}

.review-form-inputs {
  margin: 20px;
}
.review-form-inputs h4 {
  font-family: 'Roboto', sans-serif;
}

.red-button {
  background-color: #963742;
}

.red-button:hover {
  background-color: #B26D75;
}
