.airport-tile {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.card-info {
  max-height: 600px;
}

.airport-tile p {
  font-size: 1.3em;
}

.airport-tile a {
  color: white;
}

.airport-tile a:hover {
  color: #8596AD;
}
