.airport-show-name {
  font-size: 2em;
  font-family: 'Anton', sans-serif;
}

.airport-show-info {
  max-width: 40%;
}

.airport-show-div {
  margin-right: 20px;
  padding: 30px;
  background: #FAFCFF;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 4px 4px 4px gray;
}

.airport-show-code {
  font-family: 'Roboto', sans-serif;
  background-color: #963742;
  color: white;
  padding: 3px 30px 3px 30px;
}
