.review-tile {
  padding: 20px;
  margin: 10px;
  min-width: 400px;
  max-width: 400px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  box-shadow: 4px 4px 4px gray;
  border-radius: 20px;
}

.review-tile ul {
  list-style-type: circle;
}

.review-title {
  font-family: 'Roboto', sans-serif;
  padding: 7px;
  color: white;
  background-color: #963742;
  width: 100%;
}

.review-body {
  font-family: 'Roboto', sans-serif;
  padding: 4px;
  background-color: #D8E1E8;
}

.upvote-neutral {
  color: gray;
}
.upvote-selected {
  color: green;
}
.downvote-neutral {
  color: gray;
}
.downvote-selected {
  color: red;
}
